{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block main_content %}
    <section>
        <h2>Sobre nosotros</h2>
        <p>
            Somos una tienda en línea de productos electrónicos, dedicada a ofrecer productos de calidad y un servicio al cliente exepcional.
        </p>
    </section>
    <section>
        <h2>Productos destacados</h2>
        <div class="product-grid">            
            {% for product in featured_products %}
                <div class="product-card">
                    <img src="{{ product.imagen.url }}" alt="Imagen del Producto {{ product.nombre }}">
                    <h3>{{ product.nombre }}</h3>
                    <p>$ {{ product.precio }}</p>
                    <button class="btn">Añadir al carrito</button>
                </div>         
            {% endfor %}
        </div>
    </section>
{% endblock %}